<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Lecture seule : les widgets agenda consultent, ils ne modifient rien. -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!-- Certaines applications Horloge l'exigent pour s'ouvrir depuis le widget. -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <application
        android:label="WUX"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Widgets d'écran d'accueil : un <receiver> par widget. -->
        <receiver
            android:name=".widgets.ClockWidgetProvider"
            android:exported="false"
            android:label="@string/widget_clock_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock_info" />
        </receiver>
        <receiver
            android:name=".widgets.TodayAgendaWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_agenda_today_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_agenda_today_info" />
        </receiver>
        <receiver
            android:name=".widgets.TwoDayAgendaWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_agenda_two_days_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_agenda_two_days_info" />
        </receiver>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <!-- Ouvrir un événement ou un jour dans l'application Agenda. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="content" android:host="com.android.calendar"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
